<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout}">

<div th:fragment="content">

    <div class="auth-container">

        <div class="auth-card">

            <!-- LEFT -->
            <div class="auth-left">
                <h1>Bus Ticket Pro</h1>
                <p>Đặt vé nhanh chóng - an toàn - tiện lợi</p>
                <img th:src="@{/images/bus.png}" alt="">
            </div>

            <!-- RIGHT -->
            <div class="auth-right">

                <h2>Đăng nhập</h2>

                  <!-- SPRING SECURITY ERROR -->
                  <p th:if="${param.error}"
                     style="color:red; font-weight:bold;">
                      Sai tài khoản hoặc mật khẩu
                  </p>

                  <p th:if="${param.logout}"
                     style="color:green;">
                      Đăng xuất thành công
                  </p>

                  <!-- FORM -->
                  <form method="post"
                     th:action="@{/do-login}"
                     onsubmit="return validateLogin()">

                      <input type="text"
                          name="username"
                          placeholder="Username">

                      <p id="userError" class="error"></p>

                      <input type="password"
                          name="password"
                          placeholder="Password">

                      <p id="passError" class="error"></p>

                      <button type="submit">Đăng nhập</button>
                  </form>

                <div class="auth-link">
                    Chưa có tài khoản?
                    <a th:href="@{/register}">Đăng ký</a>
                </div>

            </div>

        </div>

    </div>

</div>

<!-- CSS -->
<style>
    .error {
        color: red;
        font-size: 13px;
        margin: 5px 0;
    }
</style>

<!-- JS VALIDATE -->
<script>
    function validateLogin() {

        const username = document.querySelector('input[name="username"]');
        const password = document.querySelector('input[name="password"]');

        const userError = document.getElementById("userError");
        const passError = document.getElementById("passError");

        let ok = true;

        userError.innerText = "";
        passError.innerText = "";

        if (username.value.trim() === "") {
            userError.innerText = "Bạn chưa nhập username";
            ok = false;
        }

        if (password.value.trim() === "") {
            passError.innerText = "Bạn chưa nhập password";
            ok = false;
        }

        return ok;
    }
</script>

</html>