<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">

<body>

<div th:fragment="content">

    <div class="card">

        <h1>Danh sách vé chờ duyệt</h1>

        <br>

        <table>

            <tr>

                <th>Mã vé</th>
                <th>Khách hàng</th>
                <th>SĐT</th>
                <th>Trạng thái</th>
                <th>Action</th>

            </tr>

            <tr th:each="ticket : ${tickets}">

                <td th:text="${ticket.ticketCode}"></td>

                <td th:text="${ticket.customerName}"></td>

                <td th:text="${ticket.customerPhone}"></td>

                <td th:text="${ticket.status}"></td>

                <td>

                    <a

                            class="btn btn-success"

                            th:href=
                                    "@{'/staff/tickets/approve/' + ${ticket.id}}">

                        Xác nhận

                    </a>

                    <a

                            class="btn btn-danger"

                            th:href=
                                    "@{'/staff/tickets/cancel/' + ${ticket.id}}">

                        Hủy vé

                    </a>

                </td>

            </tr>

        </table>

    </div>

</div>

</body>
</html>