<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">-->

<!--<body>-->

<!--<div th:fragment="content">-->

<!--    <h1>Tạo / Sửa tuyến</h1>-->

<!--    <form method="post" th:action="@{/admin/routes/save}" th:object="${route}">-->

<!--        <input type="hidden" th:field="*{id}" />-->

<!--        <label>From</label>-->
<!--        <select th:field="*{fromLocation}" th:object="${route}">-->
<!--            <option th:each="loc : ${locations}" th:value="${loc}" th:text="${loc.name}"></option>-->
<!--        </select>-->

<!--        <label>To</label>-->
<!--        <select th:field="*{toLocation}" th:object="${route}">-->
<!--            <option th:each="loc : ${locations}" th:value="${loc}" th:text="${loc.name}"></option>-->
<!--        </select>-->

<!--        <button class="btn btn-success">Lưu</button>-->
<!--    </form>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->