<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">

<body>

<div th:fragment="content">

    <h1>Danh sách tuyến</h1>

    <a class="btn btn-primary" th:href="@{/admin/routes/create}">Tạo tuyến mới</a>

    <div class="card" th:each="route : ${routes}">

        <p>
            <span th:text="${route.fromLocation.name}"></span>
            →
            <span th:text="${route.toLocation.name}"></span>
        </p>

        <a th:href="@{'/admin/routes/edit/' + ${route.id}}">Sửa</a>
        <a th:href="@{'/admin/routes/delete/' + ${route.id}}">Xóa</a>

    </div>

</div>

</body>
</html>