<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">

<body>

<div th:fragment="content">

    <h1>Tạo / Sửa chuyến</h1>

    <form method="post" th:action="@{/admin/trips/save}" th:object="${trip}">

        <input type="hidden" th:field="*{id}" />

        <label>Route</label>
        <select th:field="*{route}" th:object="${trip}">
            <option th:each="r : ${routes}" th:value="${r}" th:text="${r.fromLocation.name} + ' → ' + ${r.toLocation.name}"></option>
        </select>

        <label>Bus</label>
        <select th:field="*{bus}" th:object="${trip}">
            <option th:each="b : ${buses}" th:value="${b}" th:text="${b.plateNumber}"></option>
        </select>

        <label>Departure Time</label>
        <input type="datetime-local" th:field="*{departureTime}" />

        <label>Price</label>
        <input type="number" th:field="*{price}" />

        <button class="btn btn-success">Lưu</button>
    </form>

</div>

</body>
</html>