<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout}">

<body>

<div th:fragment="content">

    <div class="card">

        <h1>Thông tin cá nhân</h1>

        <br>

        <div class="info-row">
            <label>Username</label>
            <input type="text"
                   th:value="${username}"
                   disabled>
        </div>

        <form method="post"
              th:action="@{/profile/update}"
              th:object="${profileUpdateRequest}">

            <label>Họ và tên</label>
            <input type="text"
                   th:field="*{fullName}"
                   th:classappend="${#fields.hasErrors('fullName')} ? 'error-input'">
            <p class="error"
               th:if="${#fields.hasErrors('fullName')}"
               th:errors="*{fullName}"></p>

            <label>Số điện thoại</label>
            <input type="text"
                   th:field="*{phone}"
                   th:classappend="${#fields.hasErrors('phone')} ? 'error-input'">
            <p class="error"
               th:if="${#fields.hasErrors('phone')}"
               th:errors="*{phone}"></p>

            <label>Email</label>
            <input type="email"
                   th:field="*{email}"
                   th:classappend="${#fields.hasErrors('email')} ? 'error-input'">
            <p class="error"
               th:if="${#fields.hasErrors('email')}"
               th:errors="*{email}"></p>

            <label>Địa chỉ</label>
            <input type="text"
                   th:field="*{address}"
                   th:classappend="${#fields.hasErrors('address')} ? 'error-input'">
            <p class="error"
               th:if="${#fields.hasErrors('address')}"
               th:errors="*{address}"></p>

            <button class="btn btn-success">
                Cập nhật
            </button>

        </form>

    </div>

</div>

</body>
</html>
