<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<header th:fragment="header" style="background: #0d6efd">

    <nav class="navbar">

        <div class="logo">
            <a th:href="@{/}">Bus Ticket Pro</a>
        </div>

        <div class="menu">

            <a th:href="@{/}">Trang chủ</a>

            <a sec:authorize="hasRole('PASSENGER')"
               th:href="@{/}">
                Đặt vé
            </a>

            <a sec:authorize="hasRole('PASSENGER')"
               th:href="@{/my-tickets}">
                Vé của tôi
            </a>

            <a sec:authorize="hasRole('PASSENGER')"
               th:href="@{/ticket/search}">
                Tra cứu vé
            </a>

            <a sec:authorize="hasAnyRole('STAFF','ADMIN')"
               th:href="@{/staff/tickets}">
                Duyệt vé
            </a>

            <a sec:authorize="hasRole('ADMIN')"
               th:href="@{/admin/buses}">
                Quản lý xe
            </a>

            <a sec:authorize="hasRole('ADMIN')"
               th:href="@{/admin/trips}">
                Quản lý chuyến
            </a>

            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">Đăng nhập</a>
                <a th:href="@{/register}">Đăng ký</a>
            </div>

            <div sec:authorize="isAuthenticated()"
                 class="user-dropdown">

                <button type="button"
                        class="user-btn"
                        onclick="toggleMenu()">

                    <span class="avatar-icon">U</span>

                    <span>
                        Xin chào,
                        <span sec:authentication="name"></span>
                    </span>

                </button>

                <div id="dropdownMenu"
                     class="dropdown-content">

                    <a th:href="@{/profile}">
                        Hồ sơ
                    </a>

                    <a th:href="@{/my-tickets}"
                       sec:authorize="hasRole('PASSENGER')">
                        Vé của tôi
                    </a>

                    <a th:href="@{/admin/buses}"
                       sec:authorize="hasRole('ADMIN')">
                        Trang admin
                    </a>

                    <a th:href="@{/staff/tickets}"
                       sec:authorize="hasRole('STAFF')">
                        Trang staff
                    </a>

                    <a th:href="@{/logout}"
                    onclick="return confirm('Bạn có chắc muốn đăng xuất?')">
                        Đăng xuất
                    </a>

                </div>

            </div>

        </div>

    </nav>

</header>

</body>
</html>
