<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Đăng nhập</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

    <link rel="stylesheet"
          th:href="@{/css/header.css}">

</head>

<body>

<!-- HEADER -->
<div th:replace="~{fragments/header :: header}">
</div>

<div class="auth-container">

    <div class="auth-card">

        <div class="auth-left">

            <h1>
                Bus Ticket Pro
            </h1>

            <p>
                Hệ thống đặt vé xe khách
            </p>

            <img
                    th:src="@{/images/bus.png}"
                    alt="bus">

        </div>

        <div class="auth-right">

            <h2>
                Đăng nhập
            </h2>

            <form
                    th:action="@{/login}"
                    method="post">

                <input
                        type="text"
                        name="username"
                        placeholder="Tên đăng nhập"
                        required>

                <input
                        type="password"
                        name="password"
                        placeholder="Mật khẩu"
                        required>

                <button type="submit">

                    Đăng nhập

                </button>

            </form>

            <div
                    class="error-box"
                    th:if="${param.error}">

                Sai tài khoản hoặc mật khẩu

            </div>

            <div
                    class="success-box"
                    th:if="${param.logout}">

                Đăng xuất thành công

            </div>

            <div class="auth-link">

                Chưa có tài khoản?

                <a th:href="@{/register}">

                    Đăng ký ngay

                </a>

            </div>

        </div>

    </div>

</div>

<!-- FOOTER -->
<div th:replace="~{fragments/footer :: footer}">
</div>

</body>
</html>