<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Đăng ký</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">
    <link rel="stylesheet"
          th:href="@{/css/header.css}">

</head>

<body>

<!-- HEADER -->
<div th:replace="~{fragments/header :: header}">
</div>

<div class="auth-container">

    <div class="auth-card">

        <div class="auth-left">

            <h1>
                Bus Ticket Pro
            </h1>

            <p>
                Đặt vé online nhanh chóng
            </p>

            <img
                    th:src="@{/images/bus.png}"
                    alt="bus">

        </div>

        <div class="auth-right">

            <h2>
                Đăng ký
            </h2>

            <form
                    th:action="@{/register}"
                    th:object="${registerRequest}"
                    method="post">

                <input
                        type="text"
                        th:field="*{username}"
                        placeholder="Tên đăng nhập">

                <small
                        th:errors="*{username}">
                </small>

                <input
                        type="password"
                        th:field="*{password}"
                        placeholder="Mật khẩu">

                <small
                        th:errors="*{password}">
                </small>

                <input
                        type="password"
                        th:field="*{confirmPassword}"
                        placeholder="Xác nhận mật khẩu">

                <small
                        th:errors="*{confirmPassword}">
                </small>

                <input
                        type="text"
                        th:field="*{fullName}"
                        placeholder="Họ tên">

                <small
                        th:errors="*{fullName}">
                </small>

                <button type="submit">

                    Đăng ký

                </button>

            </form>

            <div class="auth-link">

                Đã có tài khoản?

                <a th:href="@{/login}">

                    Đăng nhập

                </a>

            </div>

        </div>

    </div>

</div>

<!-- FOOTER -->
<div th:replace="~{fragments/footer :: footer}">
</div>

</body>
</html>