<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--&gt;-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form th:action="@{/search/result}" method="get">-->

<!--    <select name="fromId">-->
<!--        <option value="">Điểm đi</option>-->
<!--        <option th:each="l : ${locations}"-->
<!--                th:value="${l.id}"-->
<!--                th:text="${l.name}">-->
<!--        </option>-->
<!--    </select>-->

<!--    <select name="toId">-->
<!--        <option value="">Điểm đến</option>-->
<!--        <option th:each="l : ${locations}"-->
<!--                th:value="${l.id}"-->
<!--                th:text="${l.name}">-->
<!--        </option>-->
<!--    </select>-->

<!--    <input type="datetime-local" name="departureTime">-->

<!--    <button type="submit">Tìm chuyến</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->